.reserve{
    grid-column: 1/-1;
}

.reserve-section{
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    text-align: justify;
    background-image: linear-gradient(to bottom, #00000059, #0000005d), url(/images/s2.jpg);

    background-size: cover;
    background-position: center;
}

.right{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr 3fr;
    justify-items: center;
    grid-column: 2/3;
    background-color: #ffffff9a;
    padding: 1rem .5rem;
}

.left{
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr 3fr;
    justify-items: center;
    padding: 1rem .5rem;
    grid-column: 3/6;
    background-color: #0f0f0f94;
}

.left-image{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}


.left-image .img{
    clip-path: circle(20% at 50% 50%);
    width: 200px;
    height: 100px;

}

.left-image .img img{
    width:100%;
    height: 100%;
}

@media (max-width: 890px){
    .left, .right{
        font-size: 12px;
    }
}

@media (max-width: 590px){
    .reserve-section{
        padding: 10px;
        grid-template-columns: 20px repeat(4, 1fr) 20px;
    }
}

@media (max-width: 480px){
    .left-image{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }
}