.service{
    /* background-color: indigo; */
    grid-column: 2/6;
}

.service_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    justify-content: center;
    gap: 30px;
}


.service_content_box{
    text-align: center;
    overflow: hidden;
}


.service_image{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70%;
    overflow: hidden;
}

.service_image img{
    background-position: center;
    width: 100%;
    height: 100%;
}

.service_title{
    margin-top: .5rem;
    color: #000;
}